<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Спасибо за заказ!</h1>
    <p>
      Ваш заказ принят.<br>
    </p>
    <p>
      C вами свяжется наш консультант
    </p>
    <p>TХорошего вам дня!</p>
  </body>
</html>